body {
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
     Arial, sans-serif;
 
}
 
html {
   box-sizing: border-box;
   font-size: 62.5%;
}
*,
*:before,
*:after {
   box-sizing: inherit;
}

body {
   font-size: 1.6rem;
   padding: 0 2rem;
   background-color: burlywood;
}

.cliente{
   display: flex;
   flex-direction: column;
   margin-bottom: 2rem;
}

.nombre,.fecha{
    display: flex;
    justify-content: space-around;
}

#nombre{
    width: 50rem;
}

.input{
    display: flex;
    flex-direction: column;
}

.tabla{
    overflow: scroll;
    height: 65vh;
    background-color: white;
}

table{
    width: 100%;
    border-collapse: collapse;
}

tr th{
    border: .1rem solid black;
}

table tbody tr td{
    text-align: center;
    border: .1rem solid black;
}

table tbody tr td input{
    width: 100%;
}

footer{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.saldos{
    display: flex;
    justify-content: space-around;
}
.botones{
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
}

button{
    padding: 1rem;
    font-size: 1.5rem;
    border: none;
    border-radius: 7.5rem;
}

button:hover{
    transform: scale(1.2);
    cursor: pointer;
}
