.productoSeleccionado{
    background-color: rgb(167, 164, 164);
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
      Arial, sans-serif;
  
  }
  
  html {
    box-sizing: border-box;
    font-size: 62.5%;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  body {
    font-size: 1.6rem;
    padding: 0 2rem;
    background-color: burlywood;
  }

.none{
    display: none !important;
}

.productos{
    display: flex;
    flex-direction: column;
}

.buscador fieldset{
    display: flex;
    /* justify-content: space-around; */
}

.caja{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    font-size: 1.4rem;
}

.caja input,select{
    padding: .5rem;
    font-size: 1.5rem;
}  

.caja input{
    width: 200%;
}

.tabla{
    border: .1rem solid black;
    width: 100%;
    height: 70vh;
    border-collapse: collapse;
    overflow: scroll;
    background-color: white;
}

table{
    width: 100%;        
    border-collapse: collapse;
}

table thead th{
    font-size: 1.5rem;
    border: .1rem solid black ;
}

table tbody tr{
    height: 2rem;
    text-align: center;
}

table tbody tr:hover{
    cursor: pointer;
    background-color: lightgrey;
}
table tbody tr td{
    border: .1rem solid black;
}
.botones{
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
}

button{
    border: none;
    font-size: 1.4rem;
    border-radius: 7.5rem;
    padding: 1rem;
}

button:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.agregarProducto,.modificarProducto{
    display: flex;
    text-align: center;
    flex-direction: column;
}

.agregarProducto legend,.modificarProducto legend{
    text-align: start;
}

.agregarProducto section,.modificarProducto section{
    display: flex;
    justify-content: space-around;
    margin: .5rem auto;
    font-size: 1.2rem;
    text-align: center;
}

.agregarProducto section input,.modificarProducto section input{
    display: flex;
    flex-direction: column;
    padding: .5rem;
    font-size: 1.2rem;

}

.agregarProducto .descripcion,.modificarProducto .descripcion {
    width: 50%;
}

.descripcion #descripcion{
    width: 100%;
}